
:root {
    --main-color: hsl(181, 54%, 50%);
    --primary-color : hsl(300, 0%, 41%);
    --text-color : hsl(0, 0%, 0%);
}

button {
    border-radius: 0%;
    background-color: var(--main-color);
    border: none;
    color: white;
}

.btn2 {
    color: var(--main-color);
    background-color: white;
    border: 1px solid var(--main-color);
    margin-left: 1em;
}

button:hover {
    color: var(--main-color);
    background-color: white;
    border: none;
}

.btn2:hover  {
    background-color: var(--main-color);
    border: none;
    color: white;
}


h5 {
    display: inline-block; /* Ensure the underline spans the entire text width */
    position: relative; /* Position the underline relative to the text */
  }
  
  /* Style for the text */
h5::before {
    content: ''; /* Create a pseudo-element for the underline */
    position: absolute; /* Position the underline absolutely */
    width: 100%; /* Ensure the underline spans the entire text width */
    height: 0.5px;
    background-color:  hsl(181, 54%, 50%); /* Set the underline color */
    margin-top: 20px; /* Add space between text and underline */
  }

