nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    justify-content: center;
    place-items: center;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    justify-content: center;
    
}

.heading {
 display: grid;
 place-items : center;
place-content : center;   
}

.cards {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 2em;
}

.flex > * {
    flex: 1;
    
}

.pr-rev div {
    place-content : center;
    gap: 1em;
    place-items: center;

}
.footer-info {
    text-align: center;
}
