/* Playfair Display */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

:root {
  --main-color: #3CC3C5;
  --main-font: "Playfair Display SC", serif;
  --primary-font: "Roboto", sans-serif;
}